EMAIL=email@teste.com
EMAIL_PASSWORD=password

DB_USERNAME=username
DB_PASSWORD=password
DB_DIALECT=dialect
DB_PORT=port
DB_NAME=name
HOST=localhost

SECRET_KEY_JWT=MySecretKeyJWT

APP_URL=http://localhost:3000